#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define NUMB 1
#define NAVI 2
#define ADJUST 3

&lt {
    quick_tap_ms = <200>;
    flavor = "balanced";
};

&mt {
    quick_tap_ms = <200>;
    flavor = "balanced";
};

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };

  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick_tap_ms = <150>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    lm: left_hand_positional_hold_tap {
      compatible = "zmk,behavior-hold-tap";
      label = "LEFT_HOMEROW_MODS";
      #binding-cells = <2>;
      flavor = "tap-unless-interrupted";
      tapping-term-ms = <200>;
      quick-tap-ms = <200>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
    };
    rm: right_hand_positional_hold_tap {
      compatible = "zmk,behavior-hold-tap";
      label = "RIGHT_HOMEROW_MODS";
      #binding-cells = <2>;
      flavor = "tap-unless-interrupted";
      tapping-term-ms = <200>;
      quick-tap-ms = <200>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24>;
    };
  };



  keymap {
        compatible = "zmk,keymap";

                default_layer {
// .--------------------------------------------------------------.       .-----------------------------------------------------------.
// |   ESC        |    Q    |    W   |   E    |    R    |    T    |       |   Y   |    U    |    I    |    O    |     P    |    \     |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |   CTRL/Tab   |    A    |    S   |   D    |    F    |    G    |       |   H   |    J    |    K    |    L    |     ;    |     '    |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |   SHFT       |    Z    |    X   |   C    |    V    |    B    |       |   N   |    M    |    ,    |    .    |     /    | ` | ALT  |
// '---------------------------------+--------+---------+---------+       |-------+---------+---------+-------------------------------'
//                                   |  GUI   |   MO1   |   ENT   |       |  SPC  |   BKSP  |  CAPS   |
//                                   '--------+---------+---------'       '-------+---------+---------'
                        bindings = <
&none  &kp ESC  &mt LALT Q  &mt LCTRL W    &lt 2 E          &lt 1 R   &mt LCTRL T   &mt LCTRL Y          &lt 1 U      &lt 2 I    &mt RCTRL O     &mt RALT P  &kp ESC  &none
           &kp CAPS  &mt LALT A  &mt LCTRL S    &lt 2 D          &lt 1 F   &mt LCTRL G   &mt LCTRL H          &lt 1 J      &lt 2 K    &mt RCTRL L  &mt RALT SEMI  &kp CAPS
           &none  &mt LALT Z  &mt LCTRL X    &lt 1 C          &lt 2 V   &mt LCTRL B   &mt LCTRL N          &lt 2 M  &lt 1 COMMA  &mt RCTRL DOT  &mt RALT FSLH  &none
                                           &lt 2 TAB  &mt LSHFT SPACE  &mt LGUI RET  &mt RGUI RET  &mt RSHFT SPACE   &lt 2 BSPC
            >;
                };
		
lower_layer {
// .--------------------------------------------------------------.       .-----------------------------------------------------------.
// |   ESC        |    1    |    2   |   3    |    4    |    5    |       |   6   |    7    |    8    |    9    |     0    |    `     |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |              |    !    |    @   |   #    |    $    |    %    |       |   ^   |    &    |    *    |    (    |     )    |     :    |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |   SHFT       |         |    +   |   -    |    {    |    [    |       |   ]   |    }    |    =    |    _    |          |          |
// '---------------------------------+--------+---------+---------+       |-------+---------+---------+-------------------------------'
//                                   |  GUI   |         |   MO3   |       |   ,   |    .    |   ?     |
//                                   '--------+---------+---------'       '-------+---------+---------'
                        bindings = <
&trans   &none  &mt LALT GRAVE  &mt LCTRL UNDER  &kp SINGLE_QUOTE   &kp LEFT_BRACE  &mt LCTRL LEFT_BRACKET  &mt RCTRL RIGHT_BRACKET  &kp RIGHT_BRACE  &kp PLUS  &mt RCTRL MINUS  &mt RALT EQUAL  &none  &none
        &trans   &mt LALT EXCL     &mt LCTRL AT          &kp HASH         &kp DLLR         &mt LCTRL PRCNT                &kp CARET         &kp AMPS  &kp STAR         &kp LPAR        &kp RPAR  &none
        &trans          &kp N1           &kp N2            &kp N3         &kp LPAR      &mt LCTRL KP_COMMA         &mt RCTRL KP_DOT         &kp RPAR    &kp N8           &kp N9   &mt RALT BSLH  &none
                                                           &lt ADJUST TAB  &mt LSHFT SPACE                  &trans                   &trans   &mt RSHFT SPACE    &lt ADJUST BSPC
            >;
                };
                
                raise_layer {
// .----------------------------------------------------------------.       .-----------------------------------------------------------------.
// |   CMD+SHIFT+4  |       |   PU   |   UP   |    PD    |   HOME   |       |  HOME   |    PU    |    UP   |   PD    |          | CMD+SHIFT+4 |
// |----------------+-------+--------+--------+----------+----------|       |---------+----------+---------+---------+----------+-------------|
// |                |       |  LEFT  |  DOWN  |   RIGHT  |   END    |       |  END    |   LEFT   |   DOWN  |  RIGHT  |          |             |
// |----------------+-------+--------+--------+----------+----------|       |---------+----------+---------+---------+----------+-------------|
// |     OUT_TOG    |       |        |        |CTRL+LEFT |CTRL+RIGHT|       |CTRL+LEFT|CTRL+RIGHT|         |         |          |   OUT_TOG   |
// '---------------------------------+--------+----------+----------+       |---------+----------+---------+----------------------------------'
//                                   |  GUI   |   MO3    |          |       |         |          |         |
//                                   '--------+----------+----------'       '---------+----------+---------'

                        bindings = <
&trans   &none     &kp KP_SLASH  &kp N7  &kp N8            &kp N9  &kp KP_MINUS  &kp C_MUTE      &kp C_VOL_DN  &kp C_VOL_UP  &kp PSCRN  &kp PAUSE_BREAK  &trans  &trans
        &trans  &kp KP_MULTIPLY  &kp N4  &kp N5            &kp N6   &kp KP_PLUS    &kp LEFT          &kp DOWN        &kp UP  &kp RIGHT   &kp SCROLLLOCK  &trans
        &trans           &kp N0  &kp N1  &kp N2            &kp N3    &kp KP_DOT    &kp HOME           &kp END     &kp PG_UP  &kp PG_DN         &kp CAPS  &trans
                                         &trans  &mt LSHIFT EQUAL        &trans      &trans  &mt RSHFT DELETE        &trans
            >;
                };

                adjust_layer {
// .--------------------------------------------------------.       .--------------------------------------------------------------.
// |         |        |        |        |         |         |       |  VOL+  |        |         |         |          |             |
// |---------+--------+--------+--------+---------+---------|       |--------+--------+---------+---------+----------+-------------|
// |  BTCLR  |  BT1   |  BT2   |  BT3   |  BT4    |  BT5    |       |  VOL-  |        |         |         |          |             |
// |---------+--------+--------+--------+---------+---------|       |--------+--------+---------+---------+----------+-------------|
// |         |        |        |        |         |         |       |        |        |         |         |          |             |
// '---------------------------+--------+---------+---------+       |--------+--------+---------+----------------------------------'
//                             |        |         |         |       |        |        |         |
//                             '--------+---------+---------'       '--------+--------+---------'

                        bindings = <
&trans  &bootloader  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bootloader  &trans
         &bt BT_CLR         &none         &none         &none     &kp K_APP       &kp INS       &kp INS     &kp K_APP         &none         &none         &none   &bt BT_CLR
              &none        &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6        &kp F7        &kp F8        &kp F9       &kp F10        &none
                                                       &trans       &kp F11        &trans        &trans       &kp F12        &trans
            >;
                };

    };
};
